/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/vendor/
/web/documents/athletes/*
!/web/documents/athletes/.gitkeep
/src/AppBundle/Fixture/Data/*
!/src/AppBundle/Fixture/Data/.gitkeep
