{% extends ':registration:layout.html.twig' %}

{% block content %}
    <p class="lead">Bienvenue chez Paris-Cheer ! L'inscription est entierement en ligne cette année.</p>
    <hr class="m-5">
    {{ form(form) }}
{% endblock %}
