{% extends ':registration:layout.html.twig' %}

{% block content %}
    <p class="lead">Pour ta licence sportive nous avons besoins de quelques informations supplementaires.</p>
    <hr class="m-5">
    {{ form(form) }}
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3NKOU6P3m7f5H-ADtXa5JdEpZyJqpX-8&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script>
        var address;

        function initAutocomplete() {
            address = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('athlete_fullAddress')),
                    {types: ['geocode']});

            address.addListener('place_changed', fillInAddress);

            new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('athlete_birthPlace')),
                    {types: ['geocode']});
        }

        function fillInAddress() {
            var place = address.getPlace();

            document.getElementById('athlete_address').value = place.name;
            document.getElementById('athlete_zipCode').value = place.address_components[6].long_name;
            document.getElementById('athlete_city').value = place.address_components[2].long_name;
        }
    </script>
{% endblock %}
