{% extends ':registration:layout.html.twig' %}

{% block content %}
    <p class="lead">
        Bonjour, nous sommes en train de finaliser cette page pour qu'elle sois le plus simple possible pour toi!
    </p>
    <p class="lead mb-5">
        Nous t'invitons a revenir mercredi 6 septembre pour finaliser ton inscription, tout devrait être prêt d'ici la, merci ;)
    </p>
{% endblock %}
