{% extends ':registration:layout.html.twig' %}

{% block content %}
    <p class="lead">
        Cette page est réservée aux personnes ayant déjà téléchargé leur dossier, si tu n'as pas encore le tiens commence par le
        <a href="{{ path('registration_start') }}">télécharger</a>.
    </p>
    {{ form(form) }}
{% endblock %}
